# GitHub CODEOWNERS
# These owners will be automatically requested for review when someone opens a pull request.
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repository
*       @rohitkr7

# CI/CD Workflows
/.github/workflows/   @rohitkr7

# Database Migrations & Schemas
/src/main/resources/db/   @rohitkr7
